@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

section {
  height: 100dvh;
  scroll-snap-align: center;
}

.container {
  margin: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;
  }
}

.orb {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 30px;
}

.orb:hover {
  animation-play-state: paused;
}

/* Animation Class */
.scroll-wrapper {
  display: flex;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.container2 {
	width: 90%;
	position: relative;
}

.container2 ul {
	list-style: none;
}

.container2  ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 80%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, #F57C00, #fff);
}

.container2 ul li {
	width: 50%;
	padding: 15px 20px;
	border-radius: 8px;
	position: relative;
	z-index: 10;
}

.container2 ul li:nth-child(4) {
	margin-bottom: 0;
}

.container2 ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #F57C00;
	top: 0;
	display: grid;
	place-items: center;
}

.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
}

.container2 ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}

.container2 ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
.container2 ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#F57C00,#fff);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #000;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.container2 ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
.container2 ul li:nth-child(odd) .date {
	right: 20px;
}

.container2 ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}

.container2 ul li p {
	line-height: 18px;
	margin: 6px 0 4px 0;
}
.container2 ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container2{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.container2{
		width: 70%;
		transform: translateX(20px);
	}
	.container2 ul::after{
		left: -30px;
	}
	.container2 ul li {
		width: 100%;
		float: none;
		clear: none;
	}
	.Education {
		margin-bottom: 65px;
	}
	.container2 ul li .circle{
		left: -50px;
		transform: translate(-50%, -50%);
	}
	.container2 ul li .date{
		left: 20px;
		width: 100px;
		height: 25px;
		font-size: 10px;
	}
	.container2 ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.container2 ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.container2{
		width: 80%;
	}
	.container2 ul::after{
		left: -30px;
	}
	.container2 ul li .circle{
		left: -50px;
	}
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid white;
}

  
  @media only screen and (max-width: 768px) {
	.contact {
	  padding: 10px;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
  }
  
  .contact .textContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
  }
  
  @media only screen and (max-width: 768px) {
	.contact .textContainer {
	  gap: 20px;
	  text-align: center;
	  align-items: center;
	}
  }
  
  .contact .textContainer h1 {
	font-size: 100px;
	line-height: 88px;
  }
  
  @media only screen and (max-width: 768px) {
	.contact .textContainer h1 {
	  font-size: 36px;
	}
  }
  
  .contact .textContainer span {
	font-weight: 300;
  }
  
  .contact .formContainer {
	position: relative;
  }
  
  @media only screen and (max-width: 768px) {
	.contact .formContainer {
	  padding: 50px;
	  width: 100%;
	}
  }
  
  .contact .formContainer form {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  .contact .formContainer form input,
  .contact .formContainer form textarea {
	padding: 20px;
	background-color: transparent;
	border-radius: 5px;
  }
  
  @media only screen and (max-width: 768px) {
	.contact .formContainer form input,
	.contact .formContainer form textarea {
	  padding: 10px;
	}
  }
  
  @media only screen and (max-width: 768px) {
	.contact .formContainer form button {
	  padding: 10px;
	}
  }
  

  /* theme mode*/
  #checkbox {
	display: none;
  }
  .toggle {
	height: 25px;
	width: 60px;
	border-radius: 9999px;
	background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 6px 6px 10px #0000003d;
  }
  .mountains {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 3;
	background-color: #1d7371;
	transition: all 0.5s ease-in-out;
	clip-path: polygon(
	  0% 80%,
	  25% 50%,
	  40% 70%,
	  60% 35%,
	  65% 45%,
	  80% 20%,
	  100% 80%,
	  100% 100%,
	  0% 100%
	);
  }
  .cloud {
	height: 4px;
	width: 9px;
	border-radius: 9999px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 20%;
	left: 10%;
	filter: opacity(0.5);
  }
  .sea {
	height: 65px;
	width: 120%;
	border-radius: 50%;
	position: absolute;
	right: 50%;
	bottom: -500%;
	transform: translateX(50%);
	transition: all 0.5s ease-in-out;
	background: linear-gradient(
	  to bottom,
	  #3f75cc,
	  #06063b,
	  #06063b,
	  #06063b,
	  #06063b
	);
  }
  .sea::before {
	content: "";
	height: 10px;
	width: 5px;
	background-color: rgba(254, 254, 254, 0.34);
	filter: blur(5px);
	position: absolute;
	top: 2%;
	left: 43%;
  }
  .star {
	height: 1px;
	width: 1px;
	position: absolute;
	top: -50%;
	right: 15%;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	filter: blur(0.8px);
	border-radius: 50%;
  }
  .star::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: -50%;
	right: 20px;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
  }
  
  .star::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 10px;
	right: -20px;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
  }
  
  .cloud::before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: -50%;
	right: 50%;
	transform: translateX(50%);
  }
  
  #checkbox:checked + .toggle {
	background: linear-gradient(to bottom, #036daf, #003d63);
  }
  
  .toggle::before {
	content: "";
	height: 15px;
	width: 15px;
	position: absolute;
	top: 10%;
	right: 30%;
	border-radius: 50%;
	background-color: #ffd34d;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 0 15px #fef95fc3;
  }
  
  .toggle::after {
	content: "";
	height: 15px;
	width: 15px;
	position: absolute;
	top: 10%;
	left: -60%;
	border-radius: 50%;
	background-color: #ffffff;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 0 10px #ffffff88;
  }
  
  #checkbox:checked + .toggle::before {
	transform: translateX(280%);
  }
  
  #checkbox:checked + .toggle::after {
	transform: translateX(480%);
  }
  
  #checkbox:checked + .toggle .mountains {
	background-color: #05021a;
	transform: translateY(100%);
  }
  #checkbox:checked + .toggle .sea {
	background-color: #05021a;
	bottom: -210%;
  }
  #checkbox:checked + .toggle .star {
	transform: rotate(10deg);
	top: 20%;
  }
  


  /* Define variables Langouge Switcher*/
:root {
	--height: 25px;
	--speed3: 0.17s;
	--deep-blue: #000;
  }
  
  /* Global Style */
  .language-switcher {
	position: relative;
	display: inline-block;
	width: calc(var(--height) * 2);
	height: var(--height);
	transition: transform var(--speed3);
  }
  
  /* Closing Animation */
  .language-switcher input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .language-switcher .select-fr,
  .language-switcher .select-en {
	position: absolute;
	font-size: calc(var(--height) / 2.5);
	top: calc(var(--height) / 4);
	color: #fff;
	mix-blend-mode: difference;
  }
  
  .language-switcher .select-fr {
	left: calc(var(--height) / 3.5);
  }
  
  .language-switcher .select-en {
	right: calc(var(--height) / 4);
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--deep-blue);
	box-shadow: 0 3px 64px rgba(var(--deep-blue), 0.1);
	transition: 0.4s;
  }
  
  .slider:before {
	content: "";
	position: absolute;
	height: var(--height);
	width: var(--height);
	left: 0;
	bottom: 0;
	background-color: white;
	box-shadow: 0 3px 64px rgba(var(--deep-blue), 0.16);
	transition: 0.4s;
  }
  
  .language-switcher input:checked + .slider {
	background-color: var(--deep-blue);
  }
  
  .language-switcher input:focus + .slider {
	box-shadow: none;
  }
  
  .language-switcher input:checked + .slider:before {
	transform: translateX(var(--height));
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: var(--height);
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  